*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
    /* overflow:hidden; */
}
.hero-nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #F2F2F2;
}
.nav-links{
    text-decoration: none;
    list-style: none;
    display:flex;
    align-items: center;
    font-weight: 500;
}
.nav-links li{
    padding-right: 15px;
}
a,a:hover{
    text-decoration: none;
    color: black;
}
#logo-fix{
    height: 16px;
    width: auto;
}

/* Hero Section */
.hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hero-text{
    margin-top: 20%;
}
.hero-text-color{
    color: #CF46FF;
}
.buttons{
    padding-top: 10%;
}
.hero-heading{
    padding-bottom: 20px;
}
#btn-1{
    background-color: #CF46FF;
    padding: 10px 50px;
    color:white;
    border-radius: 34px;
    border: none;
    cursor: pointer;
}
#btn-2{
    background-color: #EBEBEB;
    padding: 10px 50px;
    color:rgb(0, 0, 0);
    border-radius: 34px;
    border: none;
    cursor: pointer;
}